* {
  margin: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
  color: black;
}

main {
  padding: 1rem;
  height: 100vh;
}

.articleTitle {
  background-color: red;
}

.articleTitle:hover {
  background-color: aqua;
}